/*
 * Copyright (c) 2021 Circuit Dojo LLC
 */

&i2c0 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    sgp40@59 {
        compatible = "sensirion,sgp40cd";
        reg = <0x59>;
        enable-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
    };

    shtc3@70 {
        compatible = "sensirion,shtc3cd";
        reg = <0x70>;
    };
};

&pinctrl {
    uart1_default_alt: uart1_default_alt {
        group1 {
            psels = <NRF_PSEL(UART_RX, 0, 30)>;
            bias-pull-up;
        };
        group2 {
            psels = <NRF_PSEL(UART_TX, 0, 31)>;
        };
    };

    uart1_sleep_alt: uart1_sleep_alt {
        group1 {
            psels = <NRF_PSEL(UART_RX, 0, 30)>,
                <NRF_PSEL(UART_TX, 0, 31)>;
            low-power-enable;
        };
    };
};

&uart1 {
    status = "okay";
    compatible = "nordic,nrf-uarte";
    current-speed = <9600>;
    pinctrl-0 = <&uart1_default_alt>;
	pinctrl-1 = <&uart1_sleep_alt>;
	pinctrl-names = "default", "sleep";

    hpma115s0 {
        compatible = "honeywell,hpma115s0";
        enable-gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
    };
};