/*
 * Copyright (c) 2021 Circuit Dojo LLC
 */

/ {
	chosen {
        zephyr,display = &display;
	};
};

&i2c1 {
    compatible = "nordic,nrf-twim";
    zephyr,concat-buf-size = <1024>;

    sgp40@59 {
        compatible = "sensirion,sgp40cd";
        reg = <0x59>;
        enable-gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
    };

    shtc3@70 {
        compatible = "sensirion,shtc3cd";
        reg = <0x70>;
    };

    display: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <64>;
        height = <128>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <31>;
        multiplex-ratio = <63>;
        segment-remap;
        com-invdir;
        com-sequential;
        prechargep = <0x22>;
    };    
};

&uart2 {
    compatible = "nordic,nrf-uarte";
    current-speed = <9600>;
    status = "okay";

    hpma115s0 {
        compatible = "honeywell,hpma115s0";
        enable-gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
    };
};