/*
 * Copyright (c) 2021 Circuit Dojo LLC
 */

&i2c0 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    sda-pin = < 26 >;
    scl-pin = < 27 >;
    clock-frequency = <I2C_BITRATE_STANDARD>;

    sgp40@59 {
        compatible = "sensirion,sgp40";
        reg = <0x59>;
        label = "SGP40";
        status = "okay";
    };

	shtc3@70 {
		compatible = "sensirion,shtc3";
		reg = <0x70>;
		label = "SHTC3";
		status = "okay";
    };
};