/*
 * Copyright (c) 2021 Circuit Dojo LLC
 */

 &i2c0 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    sgp40@59 {
        compatible = "sensirion,sgp40";
        reg = <0x59>;
        label = "SGP40";
        enable-gpios = <&gpio1 8 GPIO_ACTIVE_HIGH>;
    };

	shtc3@70 {
		compatible = "sensirion,shtc3";
		reg = <0x70>;
		label = "SHTC3";
    };
};

&uart0 {
    compatible = "nordic,nrf-uarte";
    current-speed = <9600>;

    hpma115s0 {
        compatible = "honeywell,hpma115s0";
        label = "HPMA115S0";
        enable-gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
    };
};